.main_catalog {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 200px);
  gap: 50px 50px;
  padding: 0 5px 50px;
  width: 100%;
  max-width: 1024px;

}

.main__page {
  margin: 0 auto;
}

.main {
  margin-top: 50px;
}
