@mixin font(
  $font-family: $fontFamily,
  $font-size: null,
  $line-height: null,
  $font-weight: null) {
  font-family: $fontFamily;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
