.stars {
  display: grid;
  grid-template-columns: repeat(5, 15px);

  &__star {
    background-image: url(../images/star.svg);
    width: $starSize;
    height: $starSize;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px;
  }

  .stars--active {
    background-image: url("../images/star-active.svg");
  }
}
